---
import siteConfig from '../config';
import eventLibs from '../libs/event';
import dateLibs from '../libs/date';
import BaseLayout from '../layouts/BaseLayout/BaseLayout.astro';
import EventList from '../components/EventList.astro';

const now = new Date();
now.setUTCHours(now.getUTCHours() + 9);
const today = new Date(now.getUTCFullYear(), now.getUTCMonth(), now.getUTCDate());

const fetchedEvents = await eventLibs.getEventsAsync();

const heldEvents = fetchedEvents.filter((e) => {
  const span = dateLibs.getSpan(e.date, today.getTime()) / 86400000;
  return span < 0 && span >= -10;
})
  .sort((a, b) => b.order - a.order)
  .sort((a, b) => b.date - a.date)

const futureEvents = fetchedEvents.filter((e) => e.date > today.getTime());
---

<BaseLayout>
  <h1>音声合成系イベント開催情報まとめサイト</h1>

  <h2>開催が近い音声合成系イベント</h2>
  <EventList events={futureEvents} today={today} />

  <h2>最近終了したイベント</h2>
  {heldEvents.length > 0 ? <EventList events={heldEvents} today={today} /> : <p>最近終了したイベントがある場合ここに表示されます</p>}

  <h2>ics形式でも配信しています</h2>

  <p>Googleカレンダー等への追加には以下のURLを使用してください。</p>
  <p class="codeBlock">{siteConfig.siteURL}/event-schedule.ics</p>

  <h3>Googleカレンダーへの追加方法(PC)</h3>

  <ol>
    <li>Googleカレンダーを開きます</li>
    <li>左メニューの「他のカレンダー」横にある「＋」ボタンをクリックします</li>
    <li>「URL で追加」をクリックします</li>
    <li>「カレンダーの URL」に上述のURLを入力します</li>
    <li>「カレンダーを追加」をクリックすると同期が始まります</li>
  </ol>

  <h3>スマホでの追加方法</h3>

  <div class="btnRack">
    <a href="webcal://vo.nrsy.jp/event-schedule.ics" class="btn">追加ボタン</a>
  </div>

  <p>上のボタンをタップすると許可を求めるダイアログが表示され「許可」を押すと追加できます。</p>

  <h2>イベントの掲載基準について</h2>
  <ul>
    <li>Web上で日程が一般公開されている同人誌即売会を掲載しています。</li>
    <li>即売会以外のイベントは、近郊の即売会にあわせて開催されるイベントのみ掲載しています。</li>
    <li>Webオンリーなど実地開催しないイベントは掲載していません。</li>
    <li>
      イベント情報の提供は <a href="https://admin.vo.nrsy.jp/" target="_blank">こちらのフォーム (QuincePear)</a> からお寄せください。
    </li>
  </ul>

  <h2>このサイトについて</h2>
  <ul>
    <li>このWebサイトはファン個人が運営しております。イベント運営様や関連企業様とは一切関係ございません。</li>
    <li>Twitterや各Webサイトからの情報をもとに作成しています。</li>
    <li>内容は正確でない場合があります。各イベントのWebサイトを必ずご確認ください。</li>
  </ul>

  <h2>相互リンク募集</h2>
  <p>
    <a href="https://vo.nrsy.jp" target="_blank"><img src="https://vo.nrsy.jp/banner.png" alt="音声合成系イベント開催情報まとめサイト" style="height: 40px" /></a>
  </p>
  <p class="codeBlock">
    &lt;a href="https://vo.nrsy.jp" target="_blank"&gt;&lt;img src="https://vo.nrsy.jp/banner.png" alt="音声合成系イベント開催情報まとめサイト" style="height: 40px"&gt;&lt;/a&gt;
  </p>
  <p>
    当サイトの周知にご協力いただけるイベント運営様は、上のコードをトップページなどに挿入しバナーを掲示していただけますと幸いです。<br />
    直リンクでも可です。
  </p>

  <h2>お知らせ</h2>
  <ul>
    <li>2024/03/08: v1.3.1 「本日開催！」「N日前に終了」を実装しました</li>
    <li>2024/06/13: v1.3.0 データの取得方法を変更しました</li>
    <li>
      2024/04/18: v1.2.0
      <ul>
        <li>一覧の自動更新時刻を0時に変更しました</li>
        <li>カレンダーインポート機能で終日扱いが正しく行われない不具合を修正しました</li>
        <li>軽妙な不具合を修正しました</li>
      </ul>
    </li>
    <li>2024/03/08: v1.1.1 バナーを追加しました</li>
    <li>2024/03/06: v1.1.0 デザインを変更しました, ics形式での配信を開始しました</li>
    <li>2024/03/05: v1.0.0 本サイトをリリースしました</li>
  </ul>
</BaseLayout>

<style lang="scss">
  .codeBlock {
    font-family: monospace;
  }
</style>
