---
import siteConfig from "../config";
import eventLibs from "../libs/event";
import dateLibs from "../libs/date";
import BaseLayout from "../layouts/BaseLayout/BaseLayout.astro";
import EventList from "../components/EventList.astro";

const now = new Date();
const today = new Date(
  now.getUTCFullYear(),
  now.getUTCMonth(),
  now.getUTCDate()
);

const fetchedEvents = await eventLibs.getEventsAsync();
const sortedEvents = fetchedEvents.sort(
  (a, b) => a.date.getTime() - b.date.getTime()
);

const heldEvents = sortedEvents.filter((e) => {
  const span = dateLibs.getSpan(e.date, today) / 86400000;
  return span < 0 && span > -10;
});

const futureEvents = sortedEvents.filter((e) => e.date > today);
---

<BaseLayout>
  <h1>合成音声系イベント開催情報まとめサイト</h1>

  <h2>開催が近い音声合成系イベント</h2>
  <EventList events={futureEvents} today={today} />

  <h2>最近終了したイベント</h2>
  <EventList events={heldEvents} today={today} />

  <h2>ics形式でも配信しています</h2>

  <p>Googleカレンダー等への追加には以下のURLを使用してください。</p>
  <pre>{siteConfig.siteURL}/event-schedule.ics</pre>

  <h3>Googleカレンダーへの追加方法(PCのみ)</h3>

  <ol>
    <li>Googleカレンダーを開きます</li>
    <li>左メニューの「他のカレンダー」横にある「＋」ボタンをクリックします</li>
    <li>「URL で追加」をクリックします</li>
    <li>「カレンダーの URL」に上述のURLを入力します</li>
    <li>「カレンダーを追加」をクリックすると同期が始まります</li>
  </ol>

  <h2>このサイトについて</h2>
  <ul>
    <li>
      このWebサイトはファン個人が運営しております。イベント運営様や関連企業様とは一切関係ございません。
    </li>
    <li>Twitterや各Webサイトからの情報をもとに作成しています。</li>
    <li>Web上で日程が一般公開されている同人誌即売会を掲載しています。</li>
    <li>Webオンリーなど実地開催しないイベントは掲載していません。</li>
    <li>
      DJクラブイベントは近郊で開催される即売会に合わせて開催されるもののみを掲載しています。
    </li>
    <li>
      内容は正確でない場合があります。各イベントのWebサイトを必ずご確認ください。
    </li>
    <li>
      イベント情報は <a href="https://github.com/nectarition/Quince"
        >GitHub nectarition/Quince</a
      > にて管理しています。
    </li>
    <li>
      情報提供や要望は <a href="https://github.com/nectarition/Quince"
        >GitHubリポジトリ</a
      >か、<a href="mailto:blossom@nectarition.jp">メール</a
      >にてお寄せください。
    </li>
  </ul>

  <h2>お知らせ</h2>
  <ul>
    <li>2024/03/06: デザインを変更しました, ics形式での配信を開始しました</li>
    <li>2024/03/05: 本サイトをリリースしました</li>
  </ul>
</BaseLayout>
