---
import siteConfig from '../config';
import eventLibs from '../libs/event';
import dateLibs from '../libs/date';
import BaseLayout from '../layouts/BaseLayout/BaseLayout.astro';
import EventList from '../components/EventList.astro';
import Alert from '../components/Alert.astro';
import Hero from '../components/Hero.astro';
import CalendarCard from '../components/CalendarCard.astro';
import ButtonGroup from '../components/ButtonGroup.astro';
import ReleaseNotes from '../components/ReleaseNotes.astro';

const now = new Date();
now.setUTCHours(now.getUTCHours() + 9);
const today = new Date(now.getUTCFullYear(), now.getUTCMonth(), now.getUTCDate());

const fetchedEvents = await eventLibs.getEventsAsync();
const fetchedLinks = await eventLibs.getLinksAsync();

const heldEvents = fetchedEvents
  .filter((e) => {
    const span = dateLibs.getSpan(e.date, today.getTime()) / 86400000;
    return span < 0 && span >= -30;
  })
  .sort((a, b) => a.order - b.order)
  .sort((a, b) => b.date - a.date);

const futureEvents = fetchedEvents.filter((e) => e.date > today.getTime());

const pickupEvents = futureEvents
  .filter((e) => e.date > today.getTime())
  .filter((e) => e.isPickUp)
  .sort((a, b) => a.order - b.order)
  .sort((a, b) => a.date - b.date);
---

<BaseLayout>
  <Hero />
  <div class="columns_rack">
    <div class="main">
      <h2 id="future-events">開催前のイベント</h2>
      <EventList sectionHeadingId="future-events" events={futureEvents} today={today} links={fetchedLinks} />

      <h2>最近終了したイベント</h2>
      {heldEvents.length > 0 ? <EventList sectionHeadingId="held-events" events={heldEvents} today={today} links={fetchedLinks} /> : <p>最近終了したイベントはありません</p>}
      <ButtonGroup align="center">
        <a href="/archives/" class="btn">ボイベまとめ登録イベント一覧</a>
      </ButtonGroup>
    </div>
    <div class="sidebar">
      <h2>
        ピックアップイベント <span class="label">PR</span>
      </h2>
      {
        pickupEvents.length > 0 ? (
          <>
            <EventList isPickup={true} sectionHeadingId="pickup-events" events={pickupEvents} today={today} links={fetchedLinks} />
          </>
        ) : (
          <p>
            現在ピックアップイベントはありません。
            <br />
            <a href="/pick-up/#pick-up-event">「ピックアップイベント」とは？</a>
          </p>
        )
      }
      <Alert type="info" title="ご寄付をお待ちしております">
        サイトの継続運営のため皆様からのご寄付を受け付けております。<br />
        詳しくは<a href="https://donate.stripe.com/bIY16HfCS8e5aFGdRr">こちら</a>をご覧ください。
      </Alert>
    </div>
  </div>

  <div class="container">
    <h2>あなたのカレンダーにも追加できます！</h2>
    <div class="calendar_rack">
      <div class="calendar_rack_introduction">
        <Alert type="info" title="Google カレンダーへの追加方法 (PC)"> 右のカレンダーの「Google カレンダーに追加」から追加できます </Alert>
        <Alert type="info" title="スマホでの追加方法 (iOS/Android)"> 下のボタンをタップすると許可を求めるダイアログが表示され「許可」を押すと追加できます。 </Alert>
        <div class="calendar-grid">
          <CalendarCard title="イベントカレンダー" url={`${siteConfig.siteURL}/event-schedule.ics`} webcalUrl="webcal://vo.nrsy.jp/event-schedule.ics" buttonText="端末に追加 (イベント)" />
          <CalendarCard title="締め切りカレンダー" url={`${siteConfig.siteURL}/limits.ics`} webcalUrl="webcal://vo.nrsy.jp/limits.ics" buttonText="端末に追加 (締め切り)" />
        </div>
      </div>
      <div class="calendar_rack_calendar">
        <iframe
          class="embedded-calendar"
          src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=Asia%2FTokyo&title=%E3%83%9C%E3%82%A4%E3%81%B9%E3%81%BE%E3%81%A8%E3%82%81%20Google%20%E3%82%AB%E3%83%AC%E3%83%B3%E3%83%80%E3%83%BC&showPrint=0&showTabs=0&showCalendars=0&showTz=0&src=YzBwdW0zc2w5NXZwZmVpa2hrNnQ4cGE4Y3BoMDV2dG5AaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&src=c2xlcHJvOThoZHZkdW0yOGEwZDdmYWxodGEyMWFodGNAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23616161&color=%23f4511e"
          style="border-width:0"
          frameborder="0"
          scrolling="no"></iframe>
      </div>
    </div>

    <h2>イベントの掲載基準について</h2>
    <ul>
      <li>日程及び会場が Web 上で公開されている同人誌即売会などのイベントを掲載しています。</li>
      <li>同人誌即売会以外のイベントは、即売会と同日・前翌日に開催されるもののみ掲載しています。</li>
      <li>Webオンリーなどのオフライン開催ではないイベントは掲載していません。</li>
    </ul>
    <ButtonGroup align="center">
      <a href="https://admin.vo.nrsy.jp/" class="btn btn-primary" target="_blank">イベント情報を提供する</a>
    </ButtonGroup>

    <h2>このサイトについて</h2>
    <ul>
      <li>この Web サイトはファン個人が運営しております。イベント運営様や関連企業様とは一切関係ございません。</li>
      <li>X (Twitter)、イベント Web サイトなど、Web 上から一次情報を参照できる情報をもとに作成しています。</li>
      <li>内容は正確でない場合があります。各イベントの Web サイトを必ずご確認ください。</li>
    </ul>

    <h2>応援をお願いします🙇</h2>
    <ul>
      <li>当サイトは個人運営のため、サーバー維持費やドメイン費用などの運営コストを寄付で賄っております。</li>
      <li>皆様からのご支援がサイトの継続と改善に繋がります。何卒よろしくお願いいたします。</li>
      <li>イベント主催者様でピックアップイベント掲載をご希望の方も、寄付による掲載が可能です。</li>
      <li>詳しくは<a href="/pick-up/#pick-up-event">こちら</a>をご覧ください。</li>
    </ul>
    <ButtonGroup align="center">
      <a href="https://donate.stripe.com/bIY16HfCS8e5aFGdRr" class="btn btn-primary">寄付する</a>
      <a href="/pick-up/" class="btn">ピックアップ掲載について</a>
    </ButtonGroup>

    <h2>API について</h2>
    <ul>
      <li>当サイトではイベント情報を取得するための API を提供しています。</li>
      <li>API の詳細については<a href="/api/docs/2025-02-04/">こちら</a>をご覧ください。</li>
    </ul>
    <ButtonGroup align="center">
      <a href="/api/docs/2025-02-04/" class="btn btn-primary">API ドキュメントを見る</a>
    </ButtonGroup>

    <h2>リリースノート</h2>
    <ReleaseNotes />
  </div>
  <p class="banner-link">
    <a href="https://vo.nrsy.jp" target="_blank"><img src="https://vo.nrsy.jp/banner.png" alt="音声合成系イベント開催情報まとめサイト" style="width: 200px; height: 40px" /></a>
    <a href="https://seidouren.jp" target="_blank"><img src="https://seidouren.jp/banner.png" alt="声同連: 音声合成系同人誌即売会連絡会" style="width: 200px; height: 40px" /></a>
  </p>
</BaseLayout>

<script>
  import { initPrefectureTooltip } from '../scripts/prefectureTooltip';
  initPrefectureTooltip();
</script>

<style lang="scss">
  .columns_rack {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px;
    padding-bottom: 40px;
    gap: 40px;
    .main {
    }
    .sidebar {
    }
    @media screen and (max-width: 840px) {
      grid-template-columns: 1fr;
      padding: 20px;
      gap: 20px;
    }
  }

  .label {
    display: inline-block;
    border: 1px solid var(--primary-brand-color);
    color: var(--primary-brand-color);
    padding: 2px 8px;
    font-size: 0.75em;
    font-weight: normal;
    border-radius: 5px;
    margin-left: 8px;
  }

  .calendar_rack {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-bottom: 20px;
    @media screen and (max-width: 840px) {
      grid-template-columns: 1fr;
      gap: 20px;
    }
  }

  .embedded-calendar {
    width: 100%;
    height: 600px;
    border: none;
    border-radius: 6px;
    @media screen and (max-width: 840px) {
      height: 400px;
    }
  }

  .calendar-grid {
    display: flex;
    flex-flow: column;
    gap: 16px;
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .banner-link {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 40px;

    img {
      transition:
        transform 0.2s,
        box-shadow 0.2s;
      border-radius: 5px;

      &:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      }
    }
  }

  .container {
    border-top: 1px solid var(--border-color);
  }
</style>
