---
import siteConfig from '../config';

import '../styles/color.scss';
import '../styles/style.scss';

export interface Props {
  title?: string;
}

const { siteName, siteURL, description } = siteConfig;
const title = (Astro.props.title && `${Astro.props.title} - ${siteName}`) ?? siteName;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <meta name="description" content={description} />

    <meta property="og:title" content={title} />
    <meta property="og:site_name" content={siteName} />
    <meta property="og:image" content={`${siteURL}/card.png`} />
    <meta property="og:url" content={`${siteURL}/`} />
    <meta property="og:description" content={description} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@nectarition" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={`${siteURL}/card.png`} />

    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
