---
import siteConfig from '../config';
import { Sprite } from 'astro-icon';

import '../styles/color.scss';
import '../styles/style.scss';

export interface Props {
  title?: string;
}

const { siteName, siteURL, description } = siteConfig;
const title = (Astro.props.title && `${Astro.props.title} - ${siteName}`) ?? siteName;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <meta name="description" content={description} />

    <meta property="og:title" content={title} />
    <meta property="og:site_name" content={siteName} />
    <meta property="og:image" content={`${siteURL}/card.png`} />
    <meta property="og:url" content={`${siteURL}/`} />
    <meta property="og:description" content={description} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@nectarition" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={`${siteURL}/card.png`} />

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZJMRCR6LXH"></script>
    <script type="module">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-ZJMRCR6LXH');
    </script>

    <title>{title}</title>
  </head>
  <body>
    <Sprite.Provider>
      <slot />
    </Sprite.Provider>
  </body>
</html>
